<h3>Add an item</h3>
<form class="" action="/item_add_validate" method="post">
  <input type="text" name="name" placeholder="Item name">
  <input type="text" name="quantity" placeholder="Qty">
  <input type="submit" value="Add Item">
</form>
