<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>SHOPPING LIST</h1>
    <h2>"This the season" or "Bah, humbug!"</h2>
    <header>
      <a href='/login'>Login</a>
      <a href='/registration'>Register</a>
    </header>

    <%= yield %>
  </body>
</html>
