<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>SHOPPING LIST</h1>
    <h4>"This the season" or "Bah, humbug!"</h4>
    <%= yield %>
  </body>
</html>
