<h3>Login</h3>


<form class="" action="/login_validation" method="post">
    <!-- <label for="email">Your email address</label> -->
    <input type="text" id="email" name="email" placeholder="Your email address">
    <input type="test" id="password" name="password" placeholder="Password">
    <input type="submit" name="Submit">
</form>
