#status {
  padding: 20px;
}

#header {
  background-color: skyblue;
}

#navbar {
  background-color: grey;
}

.name {
  width: 40%;
  display: inline;
  background-color: red;
}
.quantity {
  display: inline;
  background: orange;
  width: 20%;
}
.button {
  display: inline;
}

.inline {
  display: inline;
}
